#server
PORT=3000

#frontend
FRONT_HOST=
FRONT_PORT=

#db
MYSQL_HOST=your host
MYSQL_USER=your user
MYSQL_PASSWORD= your pass
MYSQL_DATABASE=your database

# JWT
SECRET=ssssssssssssssssssssssshhhhhhhhhhhhhhhhh

# SendGrid
SMTP_USER=mail@mail.com
SENDGRID_KEY=shhhhhhhhhhhhhhhhsh